@using Restaurant.ViewModels.Models.Menu;
@using Restaurant.Web.Infrastucture.Extentions;

@model IEnumerable<AllMenusViewModel>
@{
    ViewBag.Title = "Our Menus";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var menu in Model)
        {   
            <div class="col">
                <a href="@Url.Action("AllMenuDishes", "Menu", new { menuId = menu.Id })" class="category-item__link focus">
                    <img src="@menu.ImageUrl" class="card-img-top" alt="Menu Image" style="width: 18rem; height: 15rem;">
                    <div class="menu-type-overlay">
                        <h5 class="card-title">@string.Concat(menu.MenuType + "s")</h5>
                    </div>
                    <div class="card-body">
                    </div>
                </a>
                @if (User.IsAdmin())
                {
                    <form asp-controller="Menu" asp-action="Delete" method="post">
                        <input type="hidden" name="menuId" value="@menu.Id" />
                        <button type="submit">Delete</button>
                    </form>
                }
                   
            </div>
        }
    </div>
</div>
